#mapped-video-array {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

#individual-lesson-video-iframe {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  /* width: 30%; */
}

.video-lesson-array-titles {
  width: 90%;
  margin: 3px 0;
}

@media only screen and (max-width: 650px) {
  #mapped-video-array {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 450px) {
  #mapped-video-array {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
