#tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 87vh;
  z-index: 1;
  background: linear-gradient(
    to right,
    burlywood,
    moccasin,
    moccasin,
    moccasin,
    burlywood
  );
}

.tabs-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.tabs {
  position: relative;
  left: 0px;
  padding: 0 5px 0 0;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  border-style: ridge;
}

.tabs-content {
  position: relative;
  width: 100%;
  height: 95%;
  overflow: auto;
}

.active-tab {
  border-bottom: none;
}

.tabs:hover {
  cursor: pointer;
}

.display-content {
  display: none;
}
.active-content {
  position: relative;
  top: 30px;
  display: block;
  width: 100%;
  overflow: auto;
}

.contact-links {
  margin: 0 3px;
}
