body {
  /* background-color: sandybrown; */
  background: linear-gradient(
    to right,
    burlywood,
    moccasin,
    moccasin,
    moccasin,
    burlywood
  );
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#image-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.tab-labels {
  margin: 0;
}
